
#contact-us {
    margin: 0 auto;
    width: $content-xs;
    h2,
    h3 {
        text-transform: uppercase;
        position: relative;
    }
    
    h2 { 
        @include h2-underline;
    }
    .h3-title {
        text-align: center;
        margin-bottom: 20px;
        @include h3-underline;
    }
    @media (min-width: $break-sm) {
        width: $content-sm;
    }
    @media (min-width: $break-med) {
        width: $content-med;
    }
    @media (min-width: $break-lg) {
        width: $content-lg;
    }
}

#contact-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-info-container {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (min-width: $break-sm) {
        align-items: unset;
        }
}

.contact-info {
    width: 100%;
    margin-top: 30px;
    @media (min-width: $break-sm) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: unset;
    }
}

#mapid {
    width: 100%;
    height: 225px;
    border: 4px solid black;
    @media (min-width: $break-sm) {
        width: 400px;
        height: 225px;
    }
    @media (min-width: $break-med) {
        width: 450px;
        height: 250px;
    }
    @media (min-width: $break-lg) {
        width: 600px;
        height: 300px;
    }
}

#contact-details {
    margin-bottom: 20px;
}




////////////////////////////////////////////////////////////////////////////////////
//CONTACT FORM //////////////////////////////////////////////////////////////////////

.contact-form-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: $break-sm) {
        width: 600px;
    }
    @media (min-width: $break-med) {
        width: 700px;
    }
    @media (min-width: $break-lg) {
        width: 1000px;
    }
}

form {
    margin: 0;
    padding: 0;
    width: 100%;
}

#contact-fieldset {
    width: 100%;
    margin: 30px auto;
   
    @media (max-width: $break-sm) {
        max-width: 500px;
    }
    @media (min-width: $break-sm) {
        width: 600px;
        padding: 20px 50px;
    }
    @media (min-width: $break-med) {
        width: 700px;
    }
    @media (min-width: $break-lg) {
        width: 1000px;
        padding: 40px 200px;
    }
}

.contact-field {
    width: 100%;
    max-width: 600px;
    padding-top: 8px;
    margin-bottom: 20px;
}

#message {
    height: 150px;
}

#button-div {
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 30px;

    button {
        margin: 0 auto;
    }
}