body {
    header {
        #header_content_container {
            width: 100%;
            background-image: linear-gradient(rgba(0, 0, 0, $header-img-tone), rgba(0, 0, 0, $header-img-tone)), url('../images/header-img.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            padding: 10px 0px;

            #header_content {
                width: $content-xs;
                margin: auto;
 
                #header_banner {
                    width: 100%;
                    height: 50px;
                    display: flex;
                    flex-direction: row;

                    #header_banner_logo {
                        width: 50%;
                        display: block;
                        // border: 1px solid blue;

                        h1 {
                            color: $red;
                            font-size: 20px;
                            text-transform: uppercase;
                            margin: 0;
                        }

                        #header_terracotta {
                            font-family: $logo-font;
                        }

                        #header_cater {
                            font-family: $title-font;
                        }
                    }

                    #header_banner_middle {
                        height: 100%;
                        width: 10%;
                        display: block;
                        // border: 1px solid blue;
                    }

                    #header_banner_inner {
                        width: 40%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        #header_email,
                        #header_number {
                            display: none;
                        }

                        #header_mobile{

                            width: 25%;

                            a {
                                font-size: 40px;
                                color: $red;
                            }
                        }

                        #header_burger_ctn {
                            height: 50px;
                            width: 50px;
                            border: 1.5px solid $red;

                            // background-color: $red;
                            height: 50px;
                            width: 50px;

                            #burger_line_ctn {
                                margin-top: 10px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;


                                .btn_line {
                                    background-color: $red;
                                    height: 3px;
                                    width: 75%;
                                    margin: 3px auto 3px auto;
                                }
                            }
                        }
                    }   
                }

                #header_description {

                    #header_description_ctn {
                        // width: 50%;
                        text-align: center;
                        color: $white;

                        h1 {
                            color: $white;
                            @include h3-underline;
                        }

                        #header_p {
                            margin: 10px 0px;
                        }

                        #header_book {
                            text-align: center;
                            display: block;
                            padding: 5px 15px;
                            background-color: red;
                            color: $white;
                        }
                    }    
                }

                #header_button_ctn {
                   text-align: center;

                    a{
                        display: inline-block;
                        padding: 5px 15px;
                        background-color: $red;
                        color: $white;
                        font-family: $title-font;
                        text-transform: capitalize;
                        // font-weight: bold;
                        margin: 15px 0px;
                    }
                }

            }
        }
    }

    nav {
        display: none;
    }
}

@media (min-width: $break-sm){

    body {
        header {
            #header_content_container {
                #header_content {
                    #header_banner {

                        #header_banner_logo {
                            width: 30%;
                        }

                        #header_banner_middle {
                            width: 0;
                        }

                        #header_banner_inner {

                            width: 70%;

                            #header_email,
                            #header_number {
                                display: flex;
                                flex-direction: space-between;
                                
                                
                                a {
                                    font-size: $p-size;
                                    font-family: $title-font;
                                    color: $white;

                                    i {
                                        padding-right: 5px;
                                    }
                                }
                                
                                #header_number {
                                    padding-left: 15px;
                                }
                            }

                            #header_email {
                                margin-right: 20px;
                            }

                            #header_mobile {
                                display: none;
                            }
                        }
                    }

                    // #header_description {

                        // #header_description_ctn {}
                    // }
                }
            }
        }
    }
}
@media (min-width: $break-med) {
    body {

        header {

            #header_content_container {

                #header_content {
                    width: $content-med;

                    #header_banner {

                        #header_banner_middle {
                            display: none;
                        }

                        #header_banner_inner {
                            // width: 50%;
                            flex-direction: row;
                            justify-content: flex-end;

                            #header_burger_ctn {
                                display: none;
                            }
                        }
                    }

                    #header_description {

                        display: flex;
                        flex-direction: row;

                        #header_description_ctn_first {
                            display: block;
                            width: 55%;
                            // border: 1px solid red;
                        }

                        #header_description_ctn {
                        width: 45%;
                        text-align: right;

                            h1 {
                                @include h1-underline-right;
                            }
                        }
                    }

                    #header_button_ctn {
                        text-align: right;
                    }
                }
            }
        }

        nav {

            display: block;
    
            #nav_content_container {
                width: 100%;
                background-color: $red;
    
                #nav_content {
                    width: $content-med;
                    margin: auto;
                    display: flex;
                    flex-direction: row;
                    text-align: center;
                    justify-content: flex-end;

                    a {
                        display: block;
                        // width: 50%;
                        color: $white;
                        font-family: $title-font;
                        padding: 10px 20px;
                    }
                }
            }
        }

    }

}

// @media (min-width: $break-lg) {}