#index-intro-container {
    display: flex;
    flex-direction: column;
    width: $content-xs;
    margin: 0 auto;
    @media (min-width: $break-sm) {
        width: $content-sm;
    }
    @media (min-width: $break-med) {
        width: $content-med;
    }
    @media (min-width: $break-lg) {
        width: $content-lg;
    }
    h2 {
        @include h2-underline;
        padding-top: 30px;
        text-transform: uppercase;
    }
}

