
#index-services {
    width: 100%;
    padding-bottom: 10px;
    @media (min-width: $break-lg) {
        padding-bottom: 20px;
    }
}

#index-services-container {
    display: flex;
    flex-direction: column;
    width: $content-xs;
    margin: 0 auto;
    @media (min-width: $break-sm) {
        width: $content-sm;
    }
    @media (min-width: $break-med) {
        width: $content-med;
    }
    @media (min-width: $break-lg) {
        width: $content-lg;
        max-width: $content-max;
    }
    h2,
    h3 {
        text-transform: uppercase;
    }
    h2 {
        @include h2-underline;
        padding-top: 30px;
    }
    h3 {
        @include h3-underline;
        margin-bottom: 15px;
    }
}

.index-services-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    //padding-top: 30px;
    width: 100%;
    h3 {
        margin-top: 15px;
    }
    p {
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

.index-service {
    width: 100%;
    display: flex;
    flex-direction: column;
    .img-cont {
        max-height: 300px; //was 212px
        overflow: hidden;
        display: flex;
        align-items: center;
    }
    @media (max-width: 420px) {
        .img-cont {
            height: 170px; //148
        }
    }
    @media (min-width: $break-med) {
        width: 30%;
        .img-cont {
            max-height: 148px;
        }
    }
    @media (min-width: $break-lg) {
        .img-cont {
            max-height: 189px;
        }
    }
}

.index-service img {
    width: 100%;
}
