//////////////////////////////////////////////////////////////////////////////////////////
//COLORS

//COLOR 1
$red: #af473c; //correct
$red-dark: #7c332d; //may not be right - may just be the above color on the homepage? Example areas too small for image picker

//COLOR 2
$grey-light: #8b8d90; //may not be right - example areas too small for image picker
$grey-dark: #3c3c3c; //correct. Text too small to color pick, but think it might be this?

//OTHER COLORS 
$white: #ffffff; //correct, they have used pure white

///////////////////////////////////////////////////////////////////////////////////////////////
// //BREAKPOINTS
// $break-xs: 767px;
// $break-sm: 768px;
// $break-med: 993px;
// $break-lg: 1260px;


//////////////////////////////////////////////////////////////////////////////////////////
//TYPOGRAPHY
// $regular: 400;
// $semi-bold:
// $bold: 600;

//h1-size:
//h2-size:
//h3-size:
//p-size: 

//h1-font:
//h2-font:
//h3-font:
//p-font: 

//////////////////////////////////////////////////////////////////////////////////////////
//STYLING
//$round-corner: ;

//////////////////////////////////////////////////////////////////////////////////////////
//TEXT CONTAINER WIDTHS
    //$width-xs: ;
    //$width-sm: ;  
    //$width-med: ; 
    //$width-lg: ; 

//////////////////////////////////////////////////////////////////////////////////////////
////////////////////MAPS///////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

// // // BREAKPOINTS
// $breakpoints: (
//     'xs': $break-xs,
//     'sm': $break-sm,
//     'med': $break-med,
//     'lg': $break-lg,
// );

