//////////////////////////////////////////////////////////////////////////////////////////
//COLORS

//COLOR 1
$red: #af473c; //correct
$red-dark: #7c332d; //may not be right - may just be the above color on the homepage? Example areas too small for image picker

//COLOR 2
$grey-light: #8b8d90; //may not be right - example areas too small for image picker
$grey-dark: #3c3c3c; //correct. Text too small to color pick, but think it might be this?

//OTHER COLORS 
$white: #ffffff; //correct, they have used pure white
$header-img-tone: 0.40; //darkens header image 

///////////////////////////////////////////////////////////////////////////////////////////////
// //BREAKPOINTS
//let me know what breakpoints you think work best
$break-sm: 768px;
$break-med: 993px;
$break-lg: 1260px;


//////////////////////////////////////////////////////////////////////////////////////////
//TYPOGRAPHY
//could turn typography info into a mixin for each heading type and paragraph so can collect 
//all relevant styles in one instruction for each. Also place in the base styles partial so same
//styles applied throughout

//Fonts
$title-font: 'Montserrat';
$logo-font: 'La Belle Aurore';
$p-font: 'Arial'; //no idea yet, have just put arial in for the time being until we figure it out

//Font-weights - to figure out
// $regular: 400;
// $semi-bold:
// $bold: 600;

//Font-sizes - to figure out
//$h1-size:
$h2-size: 30px;
$h3-size: 25px;
$p-size: 20px;

 
//////////////////////////////////////////////////////////////////////////////////////////
//STYLING
//may compile the styles for the underlines. Looks like may need to be a pseudo-element. 
//Maybe a mixin?

//////////////////////////////////////////////////////////////////////////////////////////
//TEXT CONTAINER WIDTHS - test widths. Can change once we see how they look on the page.
$content-xs: 95%;
$content-sm: 90%;  
$content-med: 80%; 
$content-lg: 80%; 

//Should we standardise margins and padding?


//////////////////////////////////////////////////////////////////////////////////////////
////////////////////MAPS///////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

// // // BREAKPOINTS
// $breakpoints: (
//     'xs': $break-xs,
//     'sm': $break-sm,
//     'med': $break-med,
//     'lg': $break-lg,
// );

