//styles applicable to all pages

* {
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 0.4px;
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
    color: $grey-dark;
}

//fonts
h1,
h2,
h3 {
    font-family: $title-font;
    letter-spacing: 2px;
    color: $red;
    font-weight: 900; ///need to see about downloading a bold version I think
    position: relative;
}

h2 {
    margin-bottom: 50px;
}

p {
    font-family: $p-font;
    color: $grey-dark;
    font-size: $p-size-sm;
}

button {
        font-family: $title-font;
        letter-spacing: 2px;
        color: $red;
        font-weight: 900; ///maybe download a bold version?
        padding: 8px 22px;
        font-size: $p-size-sm;
        text-transform: uppercase;
}

