* {
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 0.4px;
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
}

//add fonts here? /////////////////////////////